---
import Nav from "../components/layout/Nav.astro";
import Footer from "../components/layout/Footer.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Enmanuel Torres" />
		<meta name="description" content="Sitio web de iconos para web, aplicaciones y sistemas." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<style>
		html {
			visibility: hidden;
			opacity: 0;
		}
	</style>
	<script>
		(function () {
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)")
						.matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}

			// Mostrar el contenido una vez que el tema se haya aplicado
			document.documentElement.style.visibility = "visible";
			document.documentElement.style.opacity = "1";
		})();
	</script>
	<body class="bg-gray-100 dark:bg-black">
		<main>
			<Nav />
			 <slot />
			 <Footer />
		</main>
	</body>
</html>
