<!-- Fondo animado -->
<div class="fixed left-0 top-0 -z-10 h-full w-full">
  <div class="relative h-full w-full bg-white dark:bg-black">
    <!-- Patrones en el fondo -->
    <div
      class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#d4d4d426_1px,transparent_1px),linear-gradient(to_bottom,#e6e6e64a_1px,transparent_1px)] dark:bg-[linear-gradient(to_right,#4f4f4f14_1px,transparent_1px),linear-gradient(to_bottom,#80808003_1px,transparent_1px)] bg-[size:14px_24px]"
    >
    </div>
    <!-- Gradiente circular -->
    <div
      class="absolute left-1/2 top-1/2 h-[800px] w-[800px] -translate-x-1/2 -translate-y-1/2 rounded-full bg-[radial-gradient(circle_400px_at_center,#f0f0f0,#ffffff00)] dark:bg-[radial-gradient(circle_400px_at_center,#fbfbfb36,#000)]"
    >
    </div>
  </div>
</div>
